
#autocomplete {
background-color: #fff;
border: 1px solid #aaa;
border-top: 0;
z-index: 999;
}

#autocomplete div {
padding: 0 0.2em;
cursor: pointer;
}

#autocomplete .hovered {
background-color: #ccc;
}

